version: "3.9"

networks:
  llm_net:
    driver: bridge

services:
  phoenix:
    depends_on:
      - ollama
    image: arizephoenix/phoenix:11.23.2
    container_name: phoenix
    ports:
      - "6006:6006"
    environment:
      - PHOENIX_PORT=6006
      - OLLAMA_BASE_URL=http://ollama:11434/v1
    networks:
      - llm_net
    restart: unless-stopped

  ollama:
    image: ollama/ollama:0.11.4
    container_name: ollama
    ports:
      - "11434:11434" # can be removed if you only want internal access
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - llm_net
    restart: always
    entrypoint: >
      sh -c "
        ollama serve & 
        sleep 5 && 
        ollama pull PetrosStav/gemma3-tools:4b &&
        wait
      "

  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_NON_ROOT_USER
      - POSTGRES_NON_ROOT_PASSWORD
    volumes:
      - db_storage:/var/lib/postgresql/data
      - ./init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - llm_net

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
      - DB_POSTGRESDB_USER=${POSTGRES_NON_ROOT_USER}
      - DB_POSTGRESDB_PASSWORD=${POSTGRES_NON_ROOT_PASSWORD}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL= https://kennith-fumaric-gaye.ngrok-free.dev
      - N8N_EDITOR_BASE_URL= https://kennith-fumaric-gaye.ngrok-free.dev
      - N8N_PROXY_HOPS= 1
    ports:
      - 5678:5678
    links:
      - postgres
    volumes:
      - n8n_storage:/home/node/.n8n
    depends_on:
      postgres:
        condition: service_healthy
      ollama:
        condition: service_started
    networks:
      - llm_net

volumes:
  ollama_data:
  db_storage:
  n8n_storage: